.newsdetailsPl[data-v-59a87576] {
    padding: 50px 50px 0 50px;
}
.newsdetailsPl h2[data-v-59a87576] {
    font-size: 24px;
    color: #000;
    font-weight: 400;
}
.newsdetailsPl dl[data-v-59a87576] {
    padding: 30px 0;
    border-bottom: 1px solid #eee;
}
.newsdetailsPl dl dt[data-v-59a87576] {
    float: left;
    width: 50px;
    height: 50px;
}
.newsdetailsPl dl dt img[data-v-59a87576] {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.newsdetailsPl dl dd[data-v-59a87576] {
    margin-left: 70px;
    font-size: 16px;
}
.newsdetailsPl dl dd.name[data-v-59a87576] {
    color: #000;
}
.newsdetailsPl dl dd.time[data-v-59a87576] {
    padding: 5px 0;
    font-size: 14px;
    color: #999;
}
.newsdetailsPl dl dd.time span[data-v-59a87576] {
    margin-right: 20px;
}
.newsdetailsPl dl .repliedInfo[data-v-59a87576] {
    padding: 10px;
    margin-top: 10px;
    background-color: #eee;
    color: #acb0b5;
}
.uploadVae[data-v-59a87576] {
    display: block;
    padding: 35px 0;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    color: #333;
}
.uploadVae span[data-v-59a87576] {
    color: #6ca5ff;
}
.newsdetailsBg[data-v-210e0e90] {
    padding-bottom: 35px;
    background: #f0f4f6 url(../img/xs4.5eb66633.jpg) no-repeat top;
    background-size: 100%;
}
.newsBread[data-v-210e0e90] {
    margin: 0 auto;
    width: 1000px;
    padding: 30px 0;
    height: 40px;
    line-height: 40px;
    color: #ccc;
}
.newsBread a[data-v-210e0e90] {
    color: #ccc;
}
.newsdetailsMain[data-v-210e0e90] {
    margin: 0 auto;
    width: 1000px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.newstripMain h2[data-v-210e0e90] {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    max-width: 75%;
}
.newstripMain .newsdetailsPl h2[data-v-210e0e90] {
    padding-bottom: 0;
}
.poster[data-v-210e0e90] {
    padding: 50px;
    margin-bottom: -75px;
}
.poster img[data-v-210e0e90] {
    max-width: 100%;
}
.newstripsTop[data-v-210e0e90] {
    position: relative;
    padding: 75px 50px 70px;
    border-bottom: 1px solid #eee;
}
.newstripsTop h2 .title[data-v-210e0e90] {
    margin-right: 50px;
}
.newstripsTop h2 .count[data-v-210e0e90] {
    color: #6ca5ff;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.newstripsTop p[data-v-210e0e90] {
    padding-bottom: 5px;
    max-width: 75%;
}
.newstripsTop .applyVae[data-v-210e0e90] {
    position: absolute;
    right: 50px;
    top: 107px;
    width: 180px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #6ca5ff;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
}
.tripOrganizer[data-v-210e0e90] {
    padding: 65px 50px 25px 40px;
    border-bottom: 1px solid #eee;
}
.tripOrganizer ul li[data-v-210e0e90] {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-bottom: 20px;
    width: 30%;
    vertical-align: top;
}
.tripOrganizer ul li img[data-v-210e0e90] {
    float: left;
    margin-right: 10px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.tripOrganizer ul li p[data-v-210e0e90] {
    padding-top: 25px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tripOrganizer ul li p span[data-v-210e0e90] {
    display: block;
    font-size: 18px;
    color: #000;
}
.tripPhoto[data-v-210e0e90] {
    padding: 55px 20px 60px 50px;
    border-bottom: 1px solid #eee;
}
.tripPhoto h2[data-v-210e0e90] {
    max-width: 100%;
}
.tripPhoto h2 a[data-v-210e0e90] {
    float: right;
    padding-right: 40px;
    font-size: 16px;
    color: #333;
}
.tripPhoto h2 a span[data-v-210e0e90] {
    color: #6ca5ff;
}
.tripPhoto li[data-v-210e0e90] {
    float: left;
    margin-right: 30px;
}
.tripList[data-v-210e0e90] {
    padding: 50px;
    border-bottom: 1px solid #eee;
}
.tripList .content[data-v-210e0e90] {
    overflow: hidden;
    color: #666;
}
